/**                           _ooOoo_
 *                           o8888888o
 *                           88" . "88
 *                           (| -_- |)
 *                            O\ = /O
 *                        ____/`---'\____
 *                      .   ' \\| |// `.
 *                       / \\||| : |||// \
 *                     / _||||| -:- |||||- \
 *                       | | \\\ - /// | |
 *                     | \_| ''\---/'' | |
 *                      \ .-\__ `-` ___/-. /
 *                   ___`. .' /--.--\ `. . __
 *                ."" '< `.___\_<|>_/___.' >'"".
 *               | | : `- \`.;`\ _ /`;.`/ - ` : | |
 *                 \ \ `-. \_ __\ /__ _/ .-` / /
 *         ======`-.____`-.___\_____/___.-`____.-'======
 *                            `=---='
 *
 *         .............................................
 *                  佛祖保佑             永无BUG
 */
html,
body {
    background : transparent;
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}


.card {
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
    align-items         : center;
    transition          : all 300ms;
    padding             : 20px;
    border-radius       : 10px;
    color               : #333;
    animation           : color-g 30000ms linear infinite;
    animation-play-state: running;


}

.card:hover {
    box-shadow          : 0px 0px 5px #000;
    background          : rgba(0, 0, 0, .6);
    filter              : brightness(95%);
    animation-play-state: paused;
    animation           : none;
    color               : #f4f4f4 !important;


}

.blocks-title {
    font         : 3em 'Italiana', sans-serif;
    font-weight  : bold;
    margin-bottom: 0 !important;
}



.page-inner {
    padding: 15px 15px 40px 15px !important;
}

.font-settings {
    display: none;

}

.gitbook-link,
.custom-link,
.divider {
    display: none !important;

}

.book-summary {
    background: #efefef;
}

@keyframes color-g {
    0% {
        color: #34495e;
    }

    10% {
        color: #2c3e50;
    }


    50% {
        color: #fff;
    }

    60% {
        color: #fff;
    }

    90% {
        color: #2c3e50;

    }

    100% {
        color: #34495e;
    }
}