html,
body {
    background: transparent;
}

.card {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    transition     : all 200ms;
    padding        : 20px;
    border-radius  : 10px;
}

.card:hover {
    box-shadow: 0px 0px 5px #888888;
}