:root {
  scroll-behavior: smooth;
  --vp-nav-height-desktop: 55px;
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f9f9f9;
  --vt-c-white-mute: #f1f1f1;
  --vt-c-black: #1a1a1a;
  --vt-c-black-pure: #000000;
  --vt-c-black-soft: #242424;
  --vt-c-black-mute: #2f2f2f;
  --vt-c-indigo: #213547;
  --vt-c-indigo-soft: #476582;
  --vt-c-indigo-light: #aac8e4;
  --vt-c-gray: #8e8e8e;
  --vt-c-gray-light-1: #aeaeae;
  --vt-c-gray-light-2: #c7c7c7;
  --vt-c-gray-light-3: #d1d1d1;
  --vt-c-gray-light-4: #e5e5e5;
  --vt-c-gray-light-5: #f2f2f2;
  --vt-c-gray-dark-1: #636363;
  --vt-c-gray-dark-2: #484848;
  --vt-c-gray-dark-3: #3a3a3a;
  --vt-c-gray-dark-4: #282828;
  --vt-c-gray-dark-5: #202020;
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.7);
  --vt-c-text-light-3: rgba(60, 60, 60, 0.33);
  --vt-c-text-light-4: rgba(60, 60, 60, 0.18);
  --vt-c-text-light-code: var(--vt-c-indigo-soft);
  --vt-c-text-dark-1: rgba(255, 255, 255, 0.87);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.6);
  --vt-c-text-dark-3: rgba(235, 235, 235, 0.38);
  --vt-c-text-dark-4: rgba(235, 235, 235, 0.18);
  --vt-c-text-dark-code: var(--vt-c-indigo-light);
  --vt-c-green: rgb(8, 126, 164) !important;
  --vt-c-green-light: rgb(8, 126, 164/0.8) !important;
  --vt-c-green-lighter: rgb(8, 126, 164/0.6) !important;
  --vt-c-green-dark: rgb(8, 126, 164) !important;
  --vt-c-green-darker: rgb(8, 126, 164/0.8) !important;
  --vp-c-green: rgb(8, 126, 164) !important;
  --vp-c-green-light: rgb(8, 126, 164/0.8) !important;
  --vp-c-green-lighter: rgb(8, 126, 164/0.6) !important;
  --vp-c-green-dark: rgb(8, 126, 164/0.8) !important;
  --vp-c-green-darker: rgb(8, 126, 164/0.6) !important;
  --vp-c-green-dimm-1: var(--vt-c-green-darker);
  --vp-c-green-dimm-2: rgba(66, 184, 131, 0.25);
  --vp-c-green-dimm-3: rgba(66, 184, 131, 0.05);
  --vp-c-yellow: #ffc517;
  --vp-c-yellow-light: #fcd253;
  --vp-c-yellow-lighter: #fcfc7c;
  --vp-c-yellow-dark: #e0ad15;
  --vp-c-yellow-darker: #ad850e;
  --vp-c-yellow-dimm-1: rgba(255, 197, 23, 0.5);
  --vp-c-yellow-dimm-2: rgba(255, 197, 23, 0.25);
  --vp-c-yellow-dimm-3: rgba(255, 197, 23, 0.05);
  --vp-c-red: #ed3c50;
  --vp-c-red-light: #f54e82;
  --vp-c-red-lighter: #fd1d7c;
  --vp-c-red-dark: #cd2d3f;
  --vp-c-red-darker: #ab2131;
  --vp-c-red-dimm-1: rgba(237, 60, 80, 0.5);
  --vp-c-red-dimm-2: rgba(237, 60, 80, 0.25);
  --vp-c-red-dimm-3: rgba(237, 60, 80, 0.05);
  --vt-c-green-dark: #4ab8d6 !important;
  --vt-c-bg: var(--vt-c-white);
  --vt-c-bg-soft: var(--vt-c-white-soft);
  --vt-c-bg-mute: var(--vt-c-white-mute);
  --vt-c-divider: var(--vt-c-divider-light-1);
  --vt-c-divider-light: var(--vt-c-divider-light-2);
  --vt-c-divider-inverse: var(--vt-c-divider-dark-1);
  --vt-c-divider-inverse-light: var(--vt-c-divider-dark-2);
  --vt-c-text-1: var(--vt-c-text-light-1);
  --vt-c-text-2: var(--vt-c-text-light-2);
  --vt-c-text-3: var(--vt-c-text-light-3);
  --vt-c-text-4: var(--vt-c-text-light-4);
  --vt-c-text-code: var(--vt-c-text-light-code);
  --vt-c-text-inverse-1: var(--vt-c-text-dark-1);
  --vt-c-text-inverse-2: var(--vt-c-text-dark-2);
  --vt-c-text-inverse-3: var(--vt-c-text-dark-3);
  --vt-c-text-inverse-4: var(--vt-c-text-dark-4);
  --vt-c-brand: var(--vt-c-green-dark);
  --vt-c-brand-light: var(--vt-c-green-light);
  --vt-c-brand-dark: var(--vt-c-green-dark);
  --vt-c-brand-highlight: var(--vt-c-brand-dark);
}

.dark {
  --vt-c-bg: var(--vt-c-black);
  --vt-c-bg-soft: var(--vt-c-black-soft);
  --vt-c-bg-mute: var(--vt-c-black-mute);
  --vt-c-divider: var(--vt-c-divider-dark-1);
  --vt-c-divider-light: var(--vt-c-divider-dark-2);
  --vt-c-divider-inverse: var(--vt-c-divider-light-1);
  --vt-c-divider-inverse-light: var(--vt-c-divider-light-2);
  --vt-c-text-1: var(--vt-c-text-dark-1);
  --vt-c-text-2: var(--vt-c-text-dark-2);
  --vt-c-text-3: var(--vt-c-text-dark-3);
  --vt-c-text-4: var(--vt-c-text-dark-4);
  --vt-c-text-code: var(--vt-c-text-dark-code);
  --vt-c-text-inverse-1: var(--vt-c-text-light-1);
  --vt-c-text-inverse-2: var(--vt-c-text-light-2);
  --vt-c-text-inverse-3: var(--vt-c-text-light-3);
  --vt-c-text-inverse-4: var(--vt-c-text-light-4);
  --vt-c-brand-highlight: var(--vt-c-brand-light);
}

body {
  overflow-x: hidden;
}

.vp-doc p,
.vp-doc li + li {
  text-align: justify;
}

.VPNav {
  border-bottom: 1px solid rgba(60, 60, 60, 0.12) !important;
}

.VPNavBar {
  height: 55px;
}

.vt-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vt-box-container .vt-box {
  background-color: var(--vt-c-bg-soft);
  transition: color 0.5s, background-color 0.5s;
  padding: 28px 36px;
  border-radius: 8px;
  flex: 0 32%;
  /* default 3 column */
  font-size: 14px;
  font-weight: 500;
}

.link:hover {
  background-color: transparent !important;
}

.outline-link:hover,
.outline-link.active {
  color: var(--vp-c-brand) !important;
}

@media (max-width: 768px) {
  .vt-box-container .vt-box {
    flex: 0 100%;
    margin-bottom: 20px;
  }

  .VPNav {
    border-bottom: none !important;
  }
}
